# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64
/GeneratedFiles
/Debug
.vs/
*.exp
*.iobj
*.log
*.tlog
*.pdb
*.ilk
*.ipch
*.idb
StockTool.VC.VC.opendb
StockTool.VC.db
StockTool.vcxproj.user
Lib/
